<input [(ngModel)]="title">
{{title}}
<input [(ngModel)]="power">
{{power | exponential}}
<app-product></app-product>

<!-- <div *ngIf="title == 'nestor'">
  Este es nestor
</div>

<div *ngIf="title == 'julian'">
  Este es julian
</div>

<div *ngIf="title == 'camilo'">
  Este es camilo
</div> -->

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nestor'">
    Este es nestor
  </p>
  <p *ngSwitchCase="'julian'">
    Este es julian
  </p>
  <p *ngSwitchCase="'camilo'">
    Este es camilo
  </p>
  <p *ngSwitchDefault> No hay </p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0 ">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} - {{i}}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<!-- <div *ngFor="let item of objecto" ></div> Error ya que es un objecto-->

<div class="product-grid" >
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)"
    [product]="product"
  ></app-product>
</div>
